.container-card{
    margin: 20px;
    box-shadow: 0 20px 50px rgba(0,0,0,.1);
    border-radius: 10px;
}
.react-datepicker__input-container{
    height: calc(1.5em + 0.75rem + 2px);
    padding: 1px 2px;
    border-radius: 18px;
    .react-datepicker-ignore-onclickoutside{
        display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }
}
.cross-button{
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
}
.draggable-component{
    padding-top:  10px  !important;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2) !important;
    background: white !important;
    color: black;
    width: auto !important;
    @media (max-width: 780px) {
    padding:  9px 5px  !important;
    
    }
}

.heading{
    margin: 20px;
    font-size: 1.2rem;
    font-weight: 700;
    @media (max-width: 780px) {
        margin: 10px;
    font-size: 1rem;
    }
}
.bottom-wrapper{
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}
.circular-name{
    background: white;
    border-radius: 50%;
    height: 33px;
    width: 33px;
    .text-name{
        border-radius:50%;
        position: relative;
    color: black;
    display: flex;
    align-items: center;
    text-align: center;
    height: 100%;
    }
}
._loading_overlay_overlay{
    background:transparent  !important;
}
.img-name-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.priority-wrapper{
    display: flex;
    flex-direction: column;
    align-items: end;
    svg{
        margin: 5px 0px;
    }

}
.text-styling{
    font-size: .6rem;
    font-weight: 600;
    margin-top:5px;
    @media (max-width: 780px) {
        font-size: .4rem;
    }
}
.detail-element{
    padding: 10px;
    overflow-wrap: break-word;
    text-align: left;
    @media (max-width: 780px) {
        padding:  8px 5px;
        overflow-wrap: break-word;
        text-align: left;
        font-size: .7rem;
    }
}


.searchSection{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
    .btnSearch{
        margin-right: 10px;
    }
}
.wrapper-dragdrop{
    display: flex;
    padding: 10px;
    @media (max-width: 780px) {
    padding: 0px;
    }
    .draggable-inner-container{
        width: 33%  !important;
    @media (max-width: 780px) {
    padding: 3px  !important;
    }
    }
}


.modal-wrapper-body{
    .form-group{
    display: flex;
    flex-direction: column;
    .react-datepicker-wrapper{
        .react-datepicker__input-container{
            input{
                width: 100%;
                height: calc(1.5em + 0.75rem + 2px);
            }
        }
    }
    }
}